body {
    background-color: grey;
}
.container {
    display:grid;
    background-color: #0ea5e9;
}
.card {
    border: solid;
    background-color: #e0f2fe;

}

table, td, th {
    border: 1px solid black;
    padding: 5px;

}

.addBook {
    display: none;
}

.togButton::after {
    content: url(book-open-blank-variant.png);
}

